.contactSection {
  align-items: center;
  display: flex;
  justify-content: center;
  &__title {
    text-align: center;
  }
  &__list {
    display: flex;
    justify-content: center;

    align-items: center;
    &-title {
      font-weight: bold;
      margin: 10px;
    }
    &-link {
      margin: 10px;
      height: 30px;
      width: 30px;
    }
  }
}
