.aboutSection {
  &__title {
    text-align: center;
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // height: 100vh;
    &-imageBox {
      display: flex;
      justify-content: center;
      &-image {
        display: flex;
        align-items: center;

        padding: 10px;
        border: 2px solid white;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }
    &_paragraph {
      text-align: left;
      margin: 0;
      padding: 0;
    }
  }
}
