.aboutSection__title {
  text-align: center;
}
.aboutSection__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.aboutSection__content-imageBox {
  display: flex;
  justify-content: center;
}
.aboutSection__content-imageBox-image {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.aboutSection__content_paragraph {
  text-align: left;
  margin: 0;
  padding: 0;
}
