$hover-color: rgb(7, 90, 19);
$title-font: Arial, Helvetica, sans-serif;

$background-color1: rgb(5, 152, 5);
$background-color2: rgb(105, 218, 130);
$background-color3: rgb(221, 221, 221);
$menu-background-color: green;

$small-about-picture: 200px;
$medium-about-picture: 400px;
$large-about-picture: 800px;

$content-max: 600px;
